{% comment %}
  Your home page is build up of sections, the code for each living in
  the sections/ director.
{% endcomment %}
<div style="width:vw; overflow:hidden">
  {{ content_for_index }}
</div>
